html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ffff99;
  color: black;
  text-decoration: none; }

mark {
  background-color: #ffff99;
  color: black;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

body, div,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, th, td,
article, aside, figure, footer, header, hgroup, menu, nav, section {
  margin: 0;
  padding: 0;
  border: 0; }

article, aside, details, figcaption, figure,
footer, header, hgroup, nav, section, audio, canvas, video {
  display: block; }

html {
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  min-height: 100%;
  font-size: 100%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

b, strong {
  font-weight: bold; }

abbr[title] {
  border-bottom: 1px dotted; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a img, img {
  -ms-interpolation-mode: bicubic;
  border: 0; }

input, textarea, button, select {
  margin: 0;
  font-size: 100%;
  line-height: normal;
  vertical-align: baseline; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; }

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

textarea {
  overflow: auto; }

::selection {
  background: rgba(0, 0, 0, 0.5);
  color: white; }

::-moz-selection {
  background: rgba(0, 0, 0, 0.5);
  color: white; }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

body {
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0.62); }

@media screen and (max-width: 1px) {
  body {
    font-size: 0.875em; } }
@media screen and (max-width: 1px) {
  body {
    font-size: 1.125em; } }
.teal {
  color: #0c5b99; }

body {
  background: #043867;
  font-family: "franklin-gothic-urw-1", "franklin-gothic-urw-2", sans-serif;
  font-weight: 300;
  min-width: 60em; }

a {
  color: #0c5b99; }
  a:hover {
    color: #1e92ed; }

h2 {
  font-family: "franklin-gothic-ext-comp-urw-1", "franklin-gothic-ext-comp-urw-2", sans-serif;
  font-weight: 100;
  font-size: 3.5em;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  color: #043867;
  margin: 20px 0 25px; }

h3 {
  font-family: "franklin-gothic-ext-comp-urw-1", "franklin-gothic-ext-comp-urw-2", sans-serif;
  font-weight: 100;
  font-size: 2.5em;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  color: #0c5b99;
  margin: 20px 0 25px; }

h4 {
  font-family: "franklin-gothic-urw-1", "franklin-gothic-urw-2", sans-serif;
  font-weight: 100;
  font-size: 2em;
  text-align: center;
  text-transform: uppercase; }

.wrapper {
  width: 60em;
  margin: 0 auto; }

header {
  background: url(/images/headermap.png) top center no-repeat #eae6d5;
  border-bottom: 1px solid #bcc9c9;
  display: block;
  height: 550px;
  position: relative; }
  header .banner {
    background: rgba(101, 157, 201, 0.85);
    box-shadow: 0 6px 2px -2px #cccccc;
    height: 575px;
    left: 50%;
    margin: -5px 0 0 -30em;
    position: absolute;
    width: 360px; }
    header .banner .when, header .banner .where {
      color: white;
      font-family: "franklin-gothic-ext-comp-urw-1", "franklin-gothic-ext-comp-urw-2", sans-serif;
      font-size: 28px;
      position: absolute;
      text-transform: uppercase;
      top: 400px; }
    header .banner .when {
      left: 60px; }
    header .banner .where {
      right: 60px; }
    header .banner a {
      background: url(/images/ribbon-button.png) 0 0 no-repeat;
      bottom: 35px;
      color: white;
      display: block;
      font-family: "franklin-gothic-ext-comp-urw-1", "franklin-gothic-ext-comp-urw-2", sans-serif;
      font-size: 50px;
      height: 73px;
      left: 50%;
      line-height: 73px;
      margin: 0 0 0 -162px;
      padding: 0;
      position: absolute;
      text-align: center;
      text-decoration: none;
      text-shadow: 1px -1px 0 #bf9027;
      text-transform: uppercase;
      width: 324px; }
      header .banner a:hover {
        color: #00569e;
        text-shadow: 1px 1px 0 white; }
  header h1 img {
    display: block;
    margin: 59px; }
  header #date {
    font-family: "franklin-gothic-ext-comp-urw-1", "franklin-gothic-ext-comp-urw-2", sans-serif;
    font-weight: 100;
    color: white;
    list-style: none;
    margin: 30px auto 0;
    width: 370px;
    height: 52px;
    display: block;
    text-align: center;
    text-transform: uppercase; }
    header #date li {
      font-size: 2.5em !important;
      border-right: 3px solid #1caac4;
      display: inline-block;
      *display: inline;
      zoom: 1;
      height: 100%;
      padding-right: 10px;
      padding-top: 8px;
      letter-spacing: 0; }
    header #date li + li {
      border-right: 0;
      padding-right: 0;
      padding-left: 10px; }
  header nav {
    height: 53px;
    width: 615px;
    display: block;
    background-image: url("http://static.realtimeconf.com/images/ribbon.png");
    background-repeat: no-repeat;
    background-position: 1px 5px;
    margin: 40px auto;
    position: absolute;
    z-index: 600;
    top: 380px;
    left: 50%;
    margin-left: -307px; }
    header nav a {
      color: white;
      font-family: "franklin-gothic-ext-comp-urw-1", "franklin-gothic-ext-comp-urw-2", sans-serif;
      font-weight: 100;
      font-size: 2em;
      text-transform: uppercase;
      text-decoration: none;
      vertical-align: top;
      outline: none; }
      header nav a:hover {
        color: white; }
    header nav #speakers_link, header nav #schedule_link {
      position: absolute;
      top: 15px; }
      header nav #speakers_link:hover, header nav #schedule_link:hover {
        transform: scale(1.1); }
    header nav #speakers_link {
      left: 35px;
      text-align: left; }
    header nav #schedule_link {
      right: 35px;
      text-align: right; }
    header nav #get_tickets {
      width: 300px;
      height: 70px;
      display: block;
      position: relative;
      background: #d9a302;
      background: linear-gradient(top, #edc85d 0%, #d9a302 100%);
      border-radius: 15px;
      text-align: center;
      text-shadow: -1px -1px 0 #b08301;
      margin: 0 auto;
      font-size: 4em;
      line-height: 70px;
      border-top: 1px solid white;
      box-shadow: 0 1px 2px #555555;
      z-index: 1000;
      bevahior: url("css/pie.htc"); }
      header nav #get_tickets span {
        position: absolute;
        bottom: -27px;
        left: 120px;
        width: 60px;
        height: 25px;
        background: #edc85d;
        background: linear-gradient(top, #d9a302 0%, #edc85d 100%);
        font-family: "georgia", "palatino", "palatino linotype", "times new roman", serif;
        font-size: 0.286em;
        font-style: italic;
        font-weight: 300;
        line-height: 20px;
        letter-spacing: 1px;
        border-top: 1px solid #c39306;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        bevahior: url("css/pie.htc"); }

#content {
  background: white;
  padding: 30px 0 100px; }
  #content .wrapper {
    font-size: 16px;
    white-space: nowrap; }

section {
  white-space: normal; }

cite {
  font-family: "franklin-gothic-ext-comp-urw-1", "franklin-gothic-ext-comp-urw-2", sans-serif;
  font-weight: 300;
  font-size: 36px;
  font-style: normal;
  letter-spacing: 1px;
  color: #6495be;
  text-transform: uppercase;
  margin-left: 20px; }

#schedule, aside {
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 30em;
  vertical-align: top;
  color: #eeeeee;
  white-space: normal; }

.space {
  padding: 10px 20px;
  display: block; }

#info {
  text-align: center; }

.sponsors {
  background: #00569e;
  border-bottom: 1px solid #dedbce;
  border-top: 1px solid #dedbce;
  padding: 20px 0 80px 0;
  }
  .sponsors h3 {
    color: white;
    margin: 0 0 30px; }
  .sponsors ul {
    list-style-type: none; }
    .sponsors ul li {
      display: inline-block;
      vertical-align:middle;
    }
      .sponsors ul li img {
        margin: 0px 15px;
        padding-top: 0; }
    .sponsors ul li {
      *display: inline;
      zoom: 1; }
    .sponsors ul li:last-child {
      margin-right: 0; }


.chef {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 20px 0;
  background: white; }
  .chef img {
    max-width: 600px;
  }

.cuisinier {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 20px 0; }
  .cuisinier img {
    max-width: 200px;
  }

.cuistot {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 20px 0;
  background: white; }
  .cuistot img {
    max-width: 150px;
  }


.speakers ul {
  list-style-type: none;
  text-align: left;
  margin: 0 10px 20px; }
  .speakers ul > li {
    display: inline-block;
    *display: inline;
    zoom: 1;
    margin-bottom: 30px; }
  .speakers ul li {
    *display: inline;
    zoom: 1; }
    .speakers ul li.right {
      text-align: right; }
      .speakers ul li.right img {
        float: right; }
    .speakers ul li:nth-child(4n) {
      margin-left: 10px; }
  .speakers ul div, .speakers ul img {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top; }
  .speakers ul img {
    width: 80px;
    height: 80px;
    background-color: #111111; }
  .speakers ul svg {
    width: 16px;
    height: 16px;
    margin-left: 6px;
    margin-bottom: -1px; }
    .speakers ul svg path {
      fill: #999999;
      box-shadow: 0 1px 1px #222222; }
      .speakers ul svg path:hover {
        fill: #cccccc; }
  .speakers ul .speakerDetails {
    width: 120px;
    padding: 0 5px;
    color: #5c5c5c;
    line-height: 115%;
    margin-top: -2px; }
    .speakers ul .speakerDetails strong {
      display: block;
      font-size: 16px;
      line-height: 140%;
      margin-bottom: 5px; }
    .speakers ul .speakerDetails em {
      display: block;
      color: #999999;
      font-size: 12px;
      font-style: normal; }
  .speakers ul .social-link {
    text-decoration: none; }

.speakers h4 {
  font-family: "franklin-gothic-ext-comp-urw-1", "franklin-gothic-ext-comp-urw-2", sans-serif;
  margin-bottom: 20px; }
.speakers h4 + p {
  color: #bbbbbb;
  font-size: 14px !important;
  font-weight: normal;
  font-style: italic; }
  .speakers h4 + p svg {
    width: 11px;
    height: 11px; }

#view_abstracts {
  color: #0c5b99;
  text-align: center; }
  #view_abstracts:hover {
    color: #1e92ed; }

#details, #what-is-it, #venue, #intro {
  color: #725e47;
  margin: 0 10px; }
  #details p, #what-is-it p, #venue p, #intro p {
    line-height: 130%;
    letter-spacing: 0.4px;
    margin-bottom: 30px;
    font-size: 1.25em; }

#intro {
  margin-top: 50px;
  text-align: center; }
  #intro p {
    font-size: 2.0em;
    font-weight: bold;
  }
  #intro img {
    margin-bottom: 20px;
  }
  #intro blockquote {
    background: url(/images/blue_ribbon.png) top center no-repeat ;
    height: 70px;
    line-height: 70px;
    font-size: 2.5em;
    font-family: "franklin-gothic-ext-comp-urw-1", "franklin-gothic-ext-comp-urw-2", sans-serif;
    color: white;
    text-transform: uppercase;
  }

#details #panel-discussion {
  position: relative;
  z-index: 1; }
#details div.blue-ribbon {
  bottom: 100px;
  left: -25px;
  background: url(/images/blue-ribbon-quote.png) top left no-repeat;
  line-height: 55px;
  width: 990px;
  height: 56px;
  position: relative;
  z-index: 100;
  float: left; }
  #details div.blue-ribbon span {
    display: inline-block;
    float: left; }
    #details div.blue-ribbon span.quote {
      font-size: 32px;
      font-weight: bold;
      padding-left: 80px; }

.block {
  text-align: left;
}

#what-is-it {
  padding-top: 20px; }
  #what-is-it h2 {
    margin-top: 0;
    font-weight: bold; }
  #what-is-it .block {
    padding-bottom: 30px; }
    #what-is-it .block.half {
      width: 450px;
      float: left;
      padding-left: 20px; }
      #what-is-it .block.half h3 {
        color: #d29815;
        font-family: "franklin-gothic-ext-comp-urw-1", "franklin-gothic-ext-comp-urw-2", sans-serif;
        font-weight: bold;
        font-size: 2em;
        letter-spacing: 1px;
        text-align: center;
        width: 100%;
        margin-bottom: 20px; }

#signup {
  background: #0c5b99;
  text-align: center;
  clear: both;
  line-height: 1.5em;
  margin-bottom: 30px;
  padding: 30px;
  border-bottom: 2px solid #dedbce; }
  #signup a {
    color: white; }
  #signup form {
    position: relative; }
  #signup label {
    text-transform: uppercase;
    color: white;
    font-family: "franklin-gothic-ext-comp-urw-1", "franklin-gothic-ext-comp-urw-2", sans-serif;
    font-size: 32px;
    font-weight: normal;
    letter-spacing: 1px;
    line-height: 34px;
    margin-right: 15px;
    vertical-align: middle; }
  #signup #email_unhappy {
    position: absolute;
    top: -20px;
    left: 427px;
    font-style: italic; }
  #signup input[type="text"] {
    color: #222222;
    width: 290px;
    height: 20px;
    padding: 3px 2px;
    vertical-align: top;
    margin-top: 4px;
    margin-right: 10px; }
  #signup input[type="button"],
  #signup input[type="submit"] {
    width: 120px;
    height: 40px;
    line-height: 34px;
    padding: 0;
    margin: 0;
    border-top: 1px solid #aeaeae;
    border-right: 1px solid #202020;
    border-bottom: 1px solid #2a2a2a;
    border-left: 1px solid #202020;
    background: #303030;
    background: linear-gradient(top, #5a5a5a 0%, #303030 100%);
    color: #eeeeee;
    outline: 0;
    vertical-align: top;
    font-family: "franklin-gothic-ext-comp-urw-1", "franklin-gothic-ext-comp-urw-2", sans-serif;
    font-weight: 100;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    border-radius: 7px;
    bevahior: url("css/pie.htc"); }

#people-say-video {
  margin: 0 10px;
  position: relative; }
  #people-say-video blockquote {
    color: #4c3010;
    font-size: 32px;
    font-weight: bold;
    padding: 25px;
    width: 450px;
    float: left; }
  #people-say-video cite {
    display: block;
    margin-top: 10px;
    margin-left: 0; }
  #people-say-video h4 {
    color: white;
    font-family: "franklin-gothic-ext-comp-urw-1", "franklin-gothic-ext-comp-urw-2", sans-serif;
    font-size: 36px;
    position: absolute;
    bottom: 20px;
    right: 460px;
    text-transform: uppercase;
    background: url(/images/see-for-yourself.png) top left no-repeat;
    line-height: 53px;
    height: 56px;
    width: 250px; }

#venue {
  border-bottom: 2px solid #dedbce;
  padding-bottom: 30px;
  padding-top: 30px;
  margin: 0 10px;
  clear: both; }
  #venue div.location {
    clear: both; }
  #venue img {
    float: left;
    margin-right: 30px;
    margin-bottom: 20px; }
  #venue h3 {
    color: #d29815;
    font-family: "franklin-gothic-ext-comp-urw-1", "franklin-gothic-ext-comp-urw-2", sans-serif;
    font-weight: 100;
    font-size: 2.2em;
    letter-spacing: 1px;
    margin-bottom: 10px; }
  #venue p {
    font-size: 1.15em; }
    #venue p a.book {
      text-transform: uppercase;
      font-family: "franklin-gothic-ext-comp-urw-1", "franklin-gothic-ext-comp-urw-2", sans-serif;
      font-size: 2em; }

#kyle_quote {
  clear: both;
  padding: 20px 0;
  margin: 0 10px;
  position: relative;
  border-bottom: 2px solid #dedbce;
  width: 940px;
  overflow: visible; }
  #kyle_quote blockquote {
    background: url(/images/drake-quote-ribbon.png) top left no-repeat;
    width: 950px;
    height: 105px;
    color: white;
    font-size: 2em;
    font-weight: bold;
    margin-left: -20px;
    padding-left: 50px;
    padding-top: 10px; }
    #kyle_quote blockquote cite {
      display: block;
      position: absolute;
      right: 25px;
      top: 90px; }

#from_the_blog {
  border-bottom: 1px solid #dedbce;
  margin: 0 10px 60px;
  clear: both;
  padding: 20px 0; }
  #from_the_blog:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden; }
  #from_the_blog h2 {
    float: left;
    margin: 0;
    text-align: right;
    width: 33%; }
  #from_the_blog ul.blog_listing {
    float: right;
    width: 67%; }
    #from_the_blog ul.blog_listing li {
      color: #eeeeee;
      font-size: 1.1em;
      list-style: none;
      padding: 5px 30px; }

#geoff_quote, #sponsor-info {
  margin: 1px 10px 0;
  clear: both;
  position: relative;
  height: 270px; }
  #geoff_quote img, #sponsor-info img {
    margin-top: -1px; }
  #geoff_quote blockquote, #sponsor-info blockquote {
    position: absolute;
    left: 495px;
    top: 78px;
    color: white;
    font-size: 2em;
    font-weight: bold; }
    #geoff_quote blockquote cite, #sponsor-info blockquote cite {
      display: block;
      margin: 10px 0; }

#sponsor-info {
  height: auto;
  padding-bottom: 40px; }
  #sponsor-info h2 {
    border-bottom: 1px solid #dedbce; }
  #sponsor-info h4 {
    color: #725e47;
    font-family: "franklin-gothic-ext-comp-urw-1", "franklin-gothic-ext-comp-urw-2", sans-serif; }

#geoff_quote, #mike_quote {
  }
  #geoff_quote blockquote, #mike_quote blockquote {
    color: #4c3010; }

#mike_quote {
  border-bottom: 1px solid #dedbce;
  border-top: 1px solid #dedbce;
  text-align: center;
  padding: 20px 30px;
  margin: 30px 10px; }
  #mike_quote blockquote {
    font-size: 2em;
    font-weight: bold; }
    #mike_quote blockquote cite {
      display: block;
      margin: 10px 0; }

footer {
  border-top: 1px solid #043867;
  clear: both;
  padding: 0 0 60px; }
  footer .wrapper {
    display: block;
    position: relative; }
  footer .ticket {
    background: url(/images/ribbon-button.png) 0 0 no-repeat;
    color: white;
    display: block;
    font-family: "franklin-gothic-ext-comp-urw-1", "franklin-gothic-ext-comp-urw-2", sans-serif;
    font-size: 50px;
    height: 73px;
    left: 50%;
    line-height: 73px;
    margin: -40px auto 100px;
    padding: 0;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px -1px 0 #bf9027;
    text-transform: uppercase;
    width: 324px; }
    footer .ticket:hover {
      color: #00569e;
      text-shadow: 1px 1px 0 white; }
  footer h2 {
    color: white; }
  footer p {
    top: 0;
    color: #dedbce;
    padding: 0 130px;
    line-height: 140%;
    font-size: 1.1em; }
  footer a {
    color: white; }

.ie8 footer em a {
  float: right !important; }

.ie9 footer em a {
  float: none !important; }

.promo_vid {
  margin-bottom: -2px; }

@media only screen and (max-width: 767px) {
  body, header, .wrapper, header h1, header #date, header nav, #what-is-it .block.half, #what-is-it h3, #kyle_quote, #kyle_quote blockquote, img, .promo_vid, #from_the_blog h2, #people-say-video blockquote {
    width: 100%;
    padding-left: 0;
    padding-right: 0; }

  p {
    padding: 0 10px; }

  .wrapper {
    margin: 0; }

  header {
    height: 390px; }
    header h1 {
      background-position: 0 0;
      background-size: contain;
      height: 232px; }
    header .wrapper {
      background-size: contain; }
    header nav {
      background: none; }
      header nav #get_tickets span {
        position: relative;
        left: 0; }

  #info + img, #details div.blue-ribbon {
    display: none; }

  #details, #what-is-it, #venue, #from_the_blog, #geoff_quote, #mike_quote, #people-say-video, #kyle_quote {
    margin: 0;
    clear: both; }

  #people-say-video, #kyle_quote {
    padding: 0 10px 30px;
    float: left; }

  #venue {
    padding-top: 30px;
    clear: both; }
    #venue h3 {
      margin-left: 10px; }

  #kyle_quote {
    width: auto; }
    #kyle_quote blockquote {
      height: auto; }

  #signup label {
    width: 100%;
    margin: 0; }
  #signup input[type="text"] {
    width: 80%;
    margin-right: 0; }

  #kyle_quote {
    margin: 0;
    height: auto; }
    #kyle_quote blockquote {
      margin: 0;
      background: none; }
      #kyle_quote blockquote cite {
        position: relative;
        top: 0;
        right: 0; }

  #from_the_blog {
    height: auto; }
    #from_the_blog ul {
      margin: 0 10px; }
    #from_the_blog h2 {
      text-align: center;
      padding-right: 0;
      display: block; }

  #from_the_blog ul.blog_listing, #geoff_quote blockquote {
    position: relative;
    top: 0;
    left: 0; }

  #geoff_quote {
    height: auto; }

  #mike_quote {
    padding: 10px; }

  footer {
    background: none;
    padding-top: 20px; }
    footer .wrapper {
      height: auto;
      padding-bottom: 20px;
      background: none; }
      footer .wrapper + .wrapper p {
        padding: 10px; }
    footer p {
      top: 0; }
    footer h5 {
      position: relative;
      top: 0;
      left: 0;
      text-align: center;
      width: 100%;
      margin: 0; }

  #from_andyet {
    position: relative;
    display: block;
    width: 79px;
    height: 29px;
    right: 0; }

  .mobile-hide {
    display: none !important; } }

.speakers ul.guidelines {
margin-left: 20px; padding-left: 10px;line-height: 130%; letter-spacing: 0.4px; margin-bottom: 30px; font-size: 1.25em;list-style-type: disc;
}
.speakers ul.guidelines>li {
  background: none;
  display: list-item; margin-left: 10px; width: 100%; margin-bottom: 5px;
}
